<%- include("../partials/header") %> 
<h2 class="text-center mb-4">Register</h2>



<form action="/api/auth/register" method="POST" enctype="multipart/form-data" class="mx-auto" style="max-width:400px;">
  <div class="mb-3">
    <label>Name</label>
    <input type="text" name="name" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Email</label>
    <input type="email" name="email" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Phone</label>
    <input type="text" name="phone" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Password</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Profile Image</label>
    <input type="file" name="profile_image" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary w-100">Register</button>
</form>

<%- include("../partials/footer") %>
